  </div>

  <aside id="navigation">
    <nav id="secondary">
      <h2 id="nav">Navigation</h2>
      <ul>
        <li><a href="${BLOG_URL}">${HOME_TITLE}</a></li>
        <li><a href="${BLOG_URL}/${POSTDIR_NAME}/${POSTDIR_INDEX}">${POST_LIST_TITLE}</a></li>
        <li><a href="${BLOG_URL}/${TAGDIR_NAME}/${TAGDIR_INDEX}">${TAG_LIST_TITLE}</a></li>${ABOUT_LINK}
      </ul>
    ${SEARCHBAR}
    </nav>

    ${SIDEBAR}
  </aside>

  <footer id="footer">
    <p id="top"><a href="#content">${GO_TO_THE_TOP}</a></p>
    <hr />
    <p>${POWERED_BY} <a href="http://makefly.depotoi.re/" title="Makefly">Makefly</a> (<a href="http://gitorious.org/makefly/" title="${SOURCE_LINK_TITLE}">${SOURCE_LINK_NAME} gitorious</a>)<br />
    ${THEME_IS} ${CSS_NAME}</p>
    <div id="special_footer">
        ${FOOTER_CONTENT}
    </div>
    <p><img id="logo" src="${BLOG_URL}/logo.gif" alt="Logo" title="Logo"/></p>
  </footer>

  <!-- Script JQuery -->
  <script src="${BLOG_URL}/js/vendor/jquery-1.9.1.min.js" type="text/javascript"></script>

  <script src="${BLOG_URL}/js/main.js"></script>
${JSKOMMENT_SCRIPT}
${ELI_SCRIPT}
</body>
</html>
