.jskomment_header {
  font-weight: bold;
}

.jskomment_newcomment {
  padding-top: 5px;
  font-weight: bold;
  width: 600px;
}

.jskomment_commentval {
}

.jskomment_comment {
  color:#BEBEBE;
  margin:4px;
  margin-left:10px;
  padding:4px;
}

.jskomment {
  padding: 0 0 0 5px;
  margin-top:7px;
  margin-bottom:20px;
  border-left: medium solid #000000;
}

.jskomment_header a {
  color: #000000;
  text-decoration: none;
}

.jskomment_header a:visited {
  color: #000000;
  text-decoration: inherit;
}

.jskomment_header a:hover {
  text-decoration: underline;
}

.jskomment_user {
  color: #BEBEBE;
}

.jskomment_input2 {
  vertical-align:top;
  width: 608px;/* 500 + 4*2 (related to jskomment.width*/
  margin:4px;
  margin-left:10px;
}


.jskomment_form {
}

.jskomment_submit {
	text-align:right;
}

#jskomment_flash {
  visibility: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
