    <!-- SyntaxHighlighter: colorize code -->
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shCore.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushCSharp.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushPhp.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushJScript.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushJava.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushVb.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushSql.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushXml.js"></script>

    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushDelphi.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushPython.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushRuby.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushCss.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushCpp.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushScala.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushGroovy.js"></script>
    <script type="text/javascript" class="javascript" src="${BLOG_URL}/js/shBrushBash.js"></script>
    <script type="text/javascript" class="javascript">
      if(window.isBloggerMode == true)
        dp.SyntaxHighlighter.BloggerMode();

      dp.SyntaxHighlighter.ClipboardSwf = '${BLOG_URL}/js/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
    </script>

