BLOG_TITLE = Makefly
BLOG_SHORT_DESC = A static makefile weblog engine
BLOG_DESCRIPTION = Makefly is a makefile static weblog engine
BLOG_LANG = en
BLOG_CHARSET = UTF-8
BASE_URL = http://localhost/~${USER}
RSS_FEED_NAME = Makefly RSS feed
MAX_POST = 2
DATE_FORMAT = %Y-%m-%d at %H:%M
SHORT_DATE_FORMAT = %Y/%m
INDEX_FILENAME = index
