BLOG_TITLE = Roadtrip on the web
BLOG_SHORT_DESC = Because anything is an adventure
BLOG_DESCRIPTION = When you surf on the web, there is sharks, waves and more. Let me show you that. 
BLOG_LANG = en
BLOG_CHARSET = UTF-8
BLOG_URL = http://localhost/~${USER}
INSTALLDIR = /home/${USER}/public_html
RSS_FEED_NAME = Roadtrip RSS feed
MAX_POST = 2
AUTO_EDIT = 1
DATE_FORMAT = %Y-%m-%d at %H:%M
SHORT_DATE_FORMAT = %Y/%m
SIDEBAR = 0
SEARCH_BAR = 0
MAX_RSS = 8
ISSO = 0
