BLOG_TITLE = Makefly
BLOG_SHORT_DESC = A powerful non-human usable static weblog engine using a BSD makefile
BLOG_DESCRIPTION = Makefly is a static weblog engine that uses a BSD makefile to "compile" it
BLOG_LANG = en
BLOG_CHARSET = UTF-8
BASE_URL = http://makefly.e-mergence.org
INSTALLDIR = www
RSS_FEED_NAME = Makefly RSS feed
MAX_POST = 3
MAX_POST_LINES = 15
DATE_FORMAT = %Y-%m-%d at %H:%M
SHORT_DATE_FORMAT = %Y/%m
INDEX_FILENAME = index
PAGE_EXT = .html
SIDEBAR = 0
SEARCH_BAR = 1
MAX_RSS = 8
markdown = ${BINDIR}/lunamark
JSKOMMENT = 1
JSKOMMENT_URL = http://jskomment.e-mergence.org
THEME = minisch
