BLOG_TITLE = Roadtrip sur le web
BLOG_SHORT_DESC = Parce que tout est une aventure
BLOG_DESCRIPTION = Quand vous surfez sur le web, il y a des requins, des vagues et plus encore. Laissez moi vous montrer cela.
BLOG_LANG = fr
BLOG_CHARSET = UTF-8
BLOG_URL = http://localhost/~${USER}
INSTALLDIR = /home/${USER}/public_html
RSS_FEED_NAME = Flux RSS du Roadtrip
MAX_POST = 2
DATE_FORMAT = %d-%m-%Y à %H:%M
SHORT_DATE_FORMAT = %m/%Y
SIDEBAR = 0
SEARCH_BAR = 0
MAX_RSS = 8
ISSO = 0
