BLOG_TITLE = Le BlankoJoueb
BLOG_SHORT_DESC = Le journal web de Blanko
BLOG_DESCRIPTION = Le journal web de Blanko
BLOG_LANG = fr
BLOG_CHARSET = UTF-8
BASE_URL = http://n.b4n.fr/makefly
RSS_FEED_NAME = Flux RSS du BlankoJoueb
MAX_POST = 3
MAX_POST_LINES = 23
DATE_FORMAT = %d/%m/%Y à %H:%M
SHORT_DATE_FORMAT = %b %Y
INDEX_FILENAME = index
PAGE_EXT = .html
SIDEBAR = 1
SEARCH_BAR = 1
MAX_RSS = 8
THEME = minisch
TAGDIR_NAME = motcle
POSTDIR_NAME = article
markdown = ${BINDIR}/lunamark
JSKOMMENT = 1
JSKOMMENT_URL = http://jskomment.e-mergence.org
ELI_USER = bl4n
ELI_API = http://status.vinilox.eu/api/
