html, body {
background-color: #000;
color: #999;
}

a {
color: #999;
}

a:hover {
color: #eee;
}

h1 {
text-align: center;
}

nav {
width: 80%;
margin: 0 auto;
}

nav ul {
list-style-type: none;
height: 20px;
}

nav ul li {
}

nav ul li a {
display: block;
float: left;
margin-right: 2px;
}

nav ul a {
padding: 2px;
border-radius: 6px;
text-decoration: none;
border: thin solid #999;
}

nav ul a:hover {
text-decoration: none;
color: #000;
background-color: #999;
padding: 2px;
border-radius: 6px;
}

#content {
width: 80%;
margin: 0 auto;
padding: 0 15px;
border: thin solid #999;
border-radius: 10px;
}

#content article {
display: block;
color: #eee;
background-color: #999;
width: 100%;
height: 100%;
margin: 0 0 15px 0;
border-radius: 6px;
}

#content article > * {
padding: 10px;
}

#content article ul {
padding-left: 30px;
}

footer p {
text-align: center;
font-size: 70%;
}
