      <article class="${ARTICLE_CLASS_TYPE}">
        <h1 class='title'>${POST_TITLE}</h1>
        ${CONTENT}
      </article>
      <div class="articleinfo">
        <p>${TAG_TITLE}&#8239;: ${TAG_LINKS_LIST} | <a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}">${PERMALINK_TITLE}</a> | ${POSTED}&#8239;: ${DATE} | ${AUTHOR_LABEL}&#8239;: ${POST_AUTHOR}</p>
      </div>
      ${JSKOMMENT_CONTENT}
