				<div class="row">

					<!-- Content -->
						<div id="content" class="12u skel-cell-important ${POST_TYPE}">
							<section>
								<header>
									<h2>${POST_TITLE}</h2>
									<span class="byline">${POST_DESCRIPTION}</span>
								</header>
								<p><a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}" class="image full"><img src="images/pics02.jpg" alt=""></a></p>
                ${POST_CONTENT}
							</section>
						</div>
					<!-- /Content -->
						
				</div>
