    </section>
  </div> <!-- CONTENEUR -->

  <footer id="lamochebarre">
    <section>
      <div class="credits">
        ${POWERED_BY} <a href="${PROJECTURL}" title="${PROJECTNAME}">${PROJECTNAME}</a> (<a href="${GITPROJECT}" title="${SOURCE_LINK_TITLE}">${SOURCE_LINK_NAME}</a>).<br />
        ${THEME_IS} <a href="https://github.com/Schoewilliam/Minisch">Minisch</a><br />
        ${FOOTER_CONTENT}
      </div>
    </section>
  </footer>

  <!-- Script JQuery -->
  <script src="${BLOG_URL}/jquery.js" type="text/javascript"></script>

  ${ISSO_SCRIPT}

  ${ELI_SCRIPT}

</body>
</html>
