    </section>
  </div> <!-- CONTENEUR -->

  <footer id="lamochebarre">
    <section>
      <div class="credits">
        ${POWERED_BY} <a href="${PROJECTURL}" title="${PROJECTNAME}">${PROJECTNAME}</a> (<a href="${GITPROJECT}" title="${SOURCE_LINK_TITLE}">${SOURCE_LINK_NAME}</a>).<br />
        ${THEME_IS} <a href="https://github.com/Schoewilliam/Minisch">Minisch</a><br />
        ${FOOTER_CONTENT}
      </div>
    </section>
  </footer>

  <!-- Script JQuery -->
  <script src="${BLOG_URL}/jquery.js" type="text/javascript"></script>

  ${ISSO_SCRIPT}

  ${ELI_SCRIPT}

  <script class="javascript" src="${BLOG_URL}js/shCore.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushCSharp.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushPhp.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushJScript.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushJava.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushVb.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushSql.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushXml.js"></script>

  <script class="javascript" src="${BLOG_URL}js/shBrushDelphi.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushPython.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushRuby.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushCss.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushCpp.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushScala.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushGroovy.js"></script>
  <script class="javascript" src="${BLOG_URL}js/shBrushBash.js"></script>
  <script class="javascript">
    if(window.isBloggerMode == true)
      dp.SyntaxHighlighter.BloggerMode();

    dp.SyntaxHighlighter.ClipboardSwf = '${BLOG_URL}js/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
  </script>

</body>
</html>
