    <div class='pagination'>
      <p>
        <a href="${PAGE_FIRST_LINK}" title="${PAGE_FIRST_DESC}">&laquo; ${PAGE_FIRST_TITLE}</a> 
        <a href="${PAGE_PREV_LINK}" title="${PAGE_PREV_DESC}">&lt; ${PAGE_PREV_TITLE}</a> 
        <a href="${PAGE_NEXT_LINK}" title="${PAGE_NEXT_DESC}">${PAGE_NEXT_TITLE} &gt;</a> 
        <a href="${PAGE_LAST_LINK}" title="${PAGE_LAST_DESC}">${PAGE_LAST_TITLE} &raquo;</a> 
        ${PAGE_CURRENT_TITLE} ${PAGE_CURRENT} / ${PAGE_TOTAL}
      </p>
    </div>
