          <section class="comment">
          <p><a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}#isso-thread" data-isso-id="/${POSTDIR_NAME}/${POST_FILE}">${ISSO_COMMENTS}</a></p>
          </section>
