html, body {
background-color: #ffffff;
color: #000000;
}

a {
color: #0000ff;
}

a:hover {
color: #9834b5;
}

h1 {
color: #000000;
}

blockquote {
color: #9834b5;
border-left: medium solid #9834b5;
}

pre {
color: #000;
background-color: #ccc;
}

pre code {
}

header h1 {
}

#subtitle {
}

nav {
border-bottom: 1px solid #000;
}

nav ul {
}

nav ul li {
}

nav ul li a {
}

nav ul a {
border: 1px solid #000;
color: #000;
}

nav ul a:hover {
color: #fff;
background-color: #000;
border: 1px solid #999;
box-shadow: 2px 1px 4px #000000;
}

nav form#search {
}

nav form#search input {
border: thin inset black;
}

nav form#search input#text {
background-color: #ffffff;
color: #000000;
border-color: #000000;
}

nav form#search input#validate_button {
background-color: #ffffff;
color: #000000;
border-color: #000000;
}

#content {
}

#content h1 {
color: #000000;
}

#content article {
color: #000000;
border: 1px solid #ccc;
box-shadow: 2px 1px 4px #999999;
}

#content article > * {
}

#content article ul {
}

#content article a {
}

#content article h1.title a {
color: #000000;
}

#content article h1.title a:visited {
color: #000000;
}

#content article h1.title a:hover {
}

#content article div.read_more {
}

#content .articleinfo {
}

#content .articleinfo p {
}

#content article.special {
box-shadow: 2px 1px 4px #999999;
}

#content article.news {
box-shadow: 2px 1px 4px #999999;
}

aside#sidebar {
color: #000000;
border-top: thin solid #000000;
}

aside#sidebar > * {
}

aside#sidebar ul {
}

aside#sidebar ul li a {
}

footer p {
border-top: thin solid #000000;
}

p img#logo {
}

/* COMMENTS (jskomment) */
.jskomment_header {
}

.jskomment_newcomment {
}

.jskomment_commentval {
}

.jskomment_comment {
color:#BEBEBE;
}

.jskomment {
border-left: medium solid #000000;
}

.jskomment_header a {
color: #000000;
}

.jskomment_header a:visited {
color: #000000;
}

.jskomment_header a:hover {
}

.jskomment_user {
color: #BEBEBE;
}

.jskomment_input2 {
}


.jskomment_form {
}

.jskomment_submit {
}

#jskomment_flash {
}
