  <script class="javascript" src="js/shCore.js"></script>
  <script class="javascript" src="js/shBrushCSharp.js"></script>
  <script class="javascript" src="js/shBrushPhp.js"></script>
  <script class="javascript" src="js/shBrushJScript.js"></script>
  <script class="javascript" src="js/shBrushJava.js"></script>
  <script class="javascript" src="js/shBrushVb.js"></script>
  <script class="javascript" src="js/shBrushSql.js"></script>
  <script class="javascript" src="js/shBrushXml.js"></script>

  <script class="javascript" src="js/shBrushDelphi.js"></script>
  <script class="javascript" src="js/shBrushPython.js"></script>
  <script class="javascript" src="js/shBrushRuby.js"></script>
  <script class="javascript" src="js/shBrushCss.js"></script>
  <script class="javascript" src="js/shBrushCpp.js"></script>
  <script class="javascript" src="js/shBrushScala.js"></script>
  <script class="javascript" src="js/shBrushGroovy.js"></script>
  <script class="javascript" src="js/shBrushBash.js"></script>
  <script class="javascript">
    if(window.isBloggerMode == true)
      dp.SyntaxHighlighter.BloggerMode();

    dp.SyntaxHighlighter.ClipboardSwf = 'js/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
  </script>
 
</body>
</html>
