h2 {
  line-height: 1em;
}
ul.social li a.fa-rss {
  background: #de8237;
}
ul.social li a.fa-rss:hover {
  background: #f18d3c;
}

pre {
  width: 95%;
  margin: 0 auto;
  padding: 1% 2%;
  overflow: auto;
  background-color: #eee;
  color: #000000;
}

blockquote {
  display: block;
  font-style: italic;
  margin-bottom: 24px;
  margin-left: 1.5em;
  min-height: 5px;
  padding: 0 0.7em;
  text-align: left;
  position: relative;
  border-left: 4px solid #d52349;
}

.box ul {
  list-style-type: disc;
  margin-left: 25px;
}

article.box a.image img {
  position: absolute;
}

article.box header {
  position: relative;
  margin-bottom: 100px;
}

article.box header h2.title {
  color: #ffffff;
}

article.box header span.byline {
  color: #ffffff;
  text-align: right;
}

article.box header span.byline strong {
  color: #ffffff;
}

article.box header hr {
  display: none;
}
