      <p>${SHORT_DATE} - <a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}">${POST_TITLE}</a> - <i class="icon-user"> </i> ${POST_AUTHOR} - <i class="icon-tags"> </i> ${TAG_TITLE}&#8239;: ${TAG_LINKS_LIST}</p>
