                </div>
${SIDEBAR}
            </div>

        </div> <!-- /container -->

        <footer class="footer">
            <div class="container">
                <p>${POWERED_BY} <a href="http://makefly.e-mergence.org/" title="Makefly">Makefly</a> (<a href="http://gitorious.org/makefly/" title="${SOURCE_LINK_TITLE}">${SOURCE_LINK_NAME} gitorious</a>)<br />
                    ${THEME_IS} ${CSS_NAME}</p>
                <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <div id="special_footer">
                    ${FOOTER_CONTENT}
                </div>
                <p><img id="logo" src="${BLOG_URL}/logo.gif" alt="Logo" title="Logo"/></p>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="${BLOG_URL}/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="${BLOG_URL}/js/vendor/bootstrap.min.js"></script>

        <script src="${BLOG_URL}/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
${JSKOMMENT_SCRIPT}
${ELI_SCRIPT}
    </body>
</html>
