                          <article class="box is-post ${ARTICLE_CLASS_TYPE}" id="post-${POST_ESCAPED_TITLE}">
                            <a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}" class="image image-full"><img src="${BLOG_URL}/images/brume.jpg" alt="Image de brume sur la forêt"/></a>
                            <header>
                              <h2 class='title'><a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}">${POST_TITLE}</a></h2>
                              <span class="byline"><strong>${POSTED}</strong>&#8239;: <time class="entry-date" datetime="${DATETIME}">${DATE}</time>. <span class="author"><strong>${AUTHOR_LABEL}</strong>&#8239;: ${POST_AUTHOR}</span></span>
                              <hr />
                            </header>
                            ${CONTENT}
                            <br />
                            <a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}#comment-${POST_ESCAPED_TITLE}" class="button alt fa fa-comment">${JSKOMMENT_COMMENTS}</a>
                            <footer class="actions">
                              <hr />
                              <section class="actions">
                                <p>${TAG_TITLE}&#8239;: ${TAG_LINKS_LIST}</p>
                              </section>
                            </footer>
                          </article>
