      <section class="box">
        <a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}" class="image image-full"><img src="${BLOG_URL}/images/fleur.jpg" alt="Image de brume sur la forêt"/></a>
        <header>
          <h3><a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}">${POST_TITLE}</a></h3>
        </header>
        <section>
        </section>
        <footer>
          <p>${SHORT_DATE} - ${POST_AUTHOR} - ${TAG_TITLE}&#8239;: ${TAG_LINKS_LIST}</p>
        </footer>
      </section>
