      <li>
        <span class="date">${DATE} <strong>${SHORT_DATE}</strong></span>
        <h3><a href="${BLOG_URL}/${POSTDIR_NAME}/${POST_FILE}">${POST_TITLE}</a></h3>
        <p>${POST_AUTHOR} - ${TAG_TITLE}&#8239;: ${TAG_LINKS_LIST}</p>
      </li>
