                      </div>

                      <div class="4u">
                      
                        <!-- Sidebar -->
                          <section class="box">
                            <header>
                              <h3>Navigation</h3>
                            </header>
                            <ul>
                              <li><a href="${BLOG_URL}">${HOME_TITLE}</a></li>
                              <li><a href="${BLOG_URL}/${POSTDIR_NAME}/${POSTDIR_INDEX}">${POST_LIST_TITLE}</a></li>
                              <li><a href="${BLOG_URL}/${TAGDIR_NAME}/${TAGDIR_INDEX}">${TAG_LIST_TITLE}</a></li>${ABOUT_LINK}
                            </ul>
                            <footer>
                              ${SEARCHBAR}
                            </footer>
                          </section>
                          ${SIDEBAR}

                      </div>
                    </div>
                  </div>
                </section>

            </div>
          </div>
        </div>
      </div>

    <!-- Footer Wrapper -->
      <div id="footer-wrapper">
        
        <!-- Footer -->
          <section id="footer" class="container">
            <header>
            <h2>Pour en savoir encore plus</h2>
            </header>
            <div class="row">

              <div class="6u">
                <section>
                  ${FOOTER_CONTENT}
                </section>
              </div>

              <div class="4u">
                <section>
                  <header>
                    <h2>Réseaux sociaux</h2>
                  </header>
                  <ul class="social">
                    <li><a class="fa fa-github solo" href="http://github.com/blankoworld" title="Github"><span>Github</span></a></li>
                    <li><a class="fa fa-linkedin solo" href="http://fr.linkedin.com/in/blankoworld" title="LinkedIn"><span>LinkedIn</span></a></li>
                    <li><a class="fa fa-facebook solo" href="https://www.facebook.com/Blankoworld" title="Facebook"><span>Facebook</span></a></li>
                    <li><a class="fa fa-comments solo" href="https://status.vinilox.eu/bl4n" title="Microblog"><span>StatusNet</span></a></li>
                    <li><a class="fa fa-twitter solo" href="http://twitter.com/bl4n" title="Twitter"><span>Twitter</span></a></li>
                    <li><a class="fa fa-rss solo" href="${BLOG_URL}/rss.xml"><span>RSS</span></a></li>
                  </ul>
                  <ul class="contact">
                    <li>
                      <h3>Jabber</h3>
                      <p>olivier @ olivier.dossmann [POINT] net</p>
                    </li>
                    <li>
                      <h3>Courriel</h3>
                      <p><a href="mailto:olivier+blog@dossmann.net">olivier+blog [CHEZ] dossmann [POINT] net</a></p>
                    </li>
                    <li>
                      <h3>Activité</h3>
                      <p><a href="http://m.depotoi.re">Me retrouver</a></p>
                    </li>
                  </ul>
                </section>
              </div>
            </div>

            <div class="row">
              <div class="12u">
              
                <!-- Copyright -->
                  <div id="copyright">
                    <ul class="links">
                      <li>&copy; 2014 Olivier DOSSMANN </li>
                      <li>${POWERED_BY} <a href="http://makefly.depotoi.re/" title="Makefly">Makefly</a></li>
                      <li>Images&nbsp;: <a href="https://www.flickr.com/photos/a_perfect_heart/">A perfect heart</a>, <a href="https://www.flickr.com/photos/8525214@N06/">anthonychammond</a> et <a href="https://www.flickr.com/photos/villamon/">Vvillamon</a></li>
                      <li>Conception&nbsp;: <a href="http://html5up.net">HTML5 UP</a>. ${THEME_IS} ${CSS_NAME}</li>
                    </ul>
                  </div>

              </div>
            </div>
          </section>
        
      </div>

${JSKOMMENT_SCRIPT}
${ELI_SCRIPT}

  </body>
</html>
