<!DOCTYPE HTML>
<!--
Dopetrope 2.5 by HTML5 UP
  html5up.net | @n33co
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html>
  <head>
    <meta charset="${BLOG_CHARSET}">
    <title>${BLOG_TITLE} - ${TITLE}</title>
    <meta http-equiv="content-type" content="text/html; charset=${BLOG_CHARSET}" />
    <meta name="keywords" content="${KEYWORDS}" />
    <meta name="description" content="${BLOG_DESCRIPTION}" />
    <meta name="author" content="${BLOG_AUTHOR}" />
    <meta name="copyright" content="${BLOG_COPYRIGHT}" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="3 days" />
    <meta name="generator" content="Makefly ${VERSION}">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
    <script src="${BLOG_URL}/js/jquery.min.js"></script>
    <script src="${BLOG_URL}/js/jquery.dropotron.min.js"></script>
    <script src="${BLOG_URL}/js/config.js"></script>
    <script src="${BLOG_URL}/js/skel.min.js"></script>
    <script src="${BLOG_URL}/js/skel-panels.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="${BLOG_URL}/css/skel-noscript.css" />
      <link rel="stylesheet" href="${BLOG_URL}/css/style.css" />
      <link rel="stylesheet" href="${BLOG_URL}/css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><script src="${BLOG_URL}/js/html5shiv.js"></script><link rel="stylesheet" href="${BLOG_URL}/css/ie8.css" /><![endif]-->
      <link rel="stylesheet" type="text/css" media="screen" href="${BLOG_URL}/${CSS_FILE}" title="${CSS_NAME}">
${JSKOMMENT_CSS_DECLARATION}
${ELI_CSS_DECLARATION}
    <link rel="alternate" type="application/rss+xml" title="${RSS_FEED_NAME}" href="${BLOG_URL}/rss.xml" />
  </head>
  <body class="right-sidebar ${BODY_CLASS}">

    <!-- Header Wrapper -->
    <div id="header-wrapper">
      <div class="container">
        <div class="row">
          <div class="12u">

            <!-- Header -->
            <section id="header">

              <!-- Logo -->
              <h1><a href="${BLOG_URL}">Olivier Dossmann</a></h1>

              <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li><a href="/" title="Page d'accueil">Accueil</a></li>
                  <li class="current_page_item"><a href="./blog" title="Mes pérégrinations">Blog</a></li>
                  <li><a href="http://olivier.dossmann.net/wiki" title="Un wiki qui contient un recueil d'astuces">Astuces</a></li>
                  <li><a href="http://olivier.dossmann.net/liens" title="Mes marques-pages Internet">Liens web</a></li>
                  <li><a href="http://olivier.dossmann.net/pensees" title="Découvrir mes pensées">Tergiversions</a></li>
                  <li>
                    <a href="">Autres</a>
                    <ul>
                      <li><a href="http://olivier.dossmann.net/tartine" title="Un pastebin">Tartine</a></li>
                      <li><a href="http://images.dossmann.net" title="Ma galerie photo">Photos</a></li>
                      <li><a href="http://olivier.dossmann.net/demo" title="Essais sur différentes feuilles de style">Démo CSS</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="">Conférences</a>
                  <ul>
                    <li><a href="http://olivier.dossmann.net/nanoblogger2011.pdf">Nanoblogger</a></li>
                      <li><a href="http://olivier.dossmann.net/LeLibre2011.pdf">Le Libre @Octobre Verre 2011</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>

            </section>

          </div>
        </div>

      </div>
    </div>

    <!-- Main Wrapper -->
      <div id="main-wrapper">
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Portfolio -->
                <section>
                  <div>
                    <div class="row">
                      <div class="8u skel-cell-important">
