    <form method="get" id="search" action="http://google.fr/search">
      <input type="hidden" name="sitesearch" value="${BLOG_URL}"/>
      <input type="hidden" name="k8" value="#444444"/>
      <input type="hidden" name="k9" value="#D51920"/>
      <input type="hidden" name="kt" value="h"/>
      <input type="hidden" name="domains" value="${BLOG_URL}"/>
      <input type="text" name="q" maxlength="255" placeholder="${SEARCH_BAR_CONTENT}&hellip;" id="text"/>
      <input type="submit" value="${SEARCH_BAR_BUTTON_NAME}" id="validate_button"/>
    </form>
