      <div class='pagination'>
        <hr/>
        <p>
          <a class="button fa fa-angle-double-left" href="${PAGE_FIRST_LINK}" title="${PAGE_FIRST_DESC}">${PAGE_FIRST_TITLE}</a> 
          <a class="button alt fa fa-angle-left" href="${PAGE_PREV_LINK}" title="${PAGE_PREV_DESC}">${PAGE_PREV_TITLE}</a> 
          <a class="button alt fa fa-angle-right" href="${PAGE_NEXT_LINK}" title="${PAGE_NEXT_DESC}">${PAGE_NEXT_TITLE}</a> 
          <a class="button fa fa-angle-double-right" href="${PAGE_LAST_LINK}" title="${PAGE_LAST_DESC}">${PAGE_LAST_TITLE}</a> 
          ${PAGE_CURRENT_TITLE} ${PAGE_CURRENT} / ${PAGE_TOTAL}
        </p>
      </div>
  </section>
