      <section>
        <header class="major">
          <h2 id="tags">${TAG_LIST_TITLE}</h2>
        </header>
        <section class="box">
          <img src="${BLOG_URL}/images/tomate.jpg" class="image image-full" />
          <ul>
            ${TAGLIST_CONTENT}
          </ul>
        </section>
        <footer>
        </footer>
      </section>
