html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
}

::selection {
    background: #b3d4fc;
}

hr {
    border-top: 1px solid #586e75;
}

.chromeframe {
    background: #ccc;
    color: #000;
}

pre,
blockquote {
    border-left: medium solid #93a1a1;
    background-color: #fdf6e3;
    color: #657b83;
}

pre {
    border: thin solid #93a1a1;
}

h1, h2, h3, h4, h5, h6 {
  color: #657b83;
}

a {
  color: #073642;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content {
  background-color: transparent;
}

#content article {
  border: 1px solid transparent;
  background-color: #eee8d5;
}

/* ==========================================================================
   Universal page
   ========================================================================== */

html {
  background-color: #eee8d5;
  color: #657b83;
}

body {
  color: #657b83;
  background-color: #fdf6e3;
  border: 1px solid #93a1a1;
  border-right: 3px solid #93a1a1;
  border-bottom: 3px solid #93a1a1;
}

article header h1 {
  background: none;
}

body.posts #content, body.tags #content, body.about #content, body.page #content {
  border: 1px solid transparent;
  background-color: #eee8d5;
}

aside#navigation {
  background-color: #eee8d5;
}

#eli_widget article {
  border-color: #999;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
}
